/* CIT 380 Mark Tobler, Purnell Darrell for PD Constuling */

/* colors
#2a2aa5 blue
#a52a2a brown
#a5a52a pea
*/

:root {
   --brown: #cc3838;
   /*#a52a2a*/
   --blue: #1b1b69;
   /* --blue: #20207e; */
   --pea: #cccc38;
   /*#a5a52a*/
}

body {
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 115%;
   transition: 350ms;
   background-color: var(--blue);
   color: var(--pea);
}

ul {
   list-style-position: inside;
   padding-left: 25%;
   text-align: left;
   /* text-transform: capitalize; */
}

body p {
   font-size: xxx-large;
   margin: -.2rem;
}

#consult_image {
   /* float: left;
   position: fixed;
   left: 14%;  */
   color: var(--brown);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-variant: small-caps;
}

body img {
   width: 18%;
}

#consult_image img {
   width: 5%;
}

.pizzaz {
   font-variant: small-caps;
   padding: .5rem;
   /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: var(--brown);
}

.tiny, #footer {
   font-size: small;
}

#menu {
   /* display: none; */
   cursor: pointer;
   float: left;
   position: absolute;
   left: 1rem;
   top: 0rem;
}

#menu>span {
   color: var(--brown);
   font-size: 3rem;
   cursor: pointer;
   
}

#netLog {
   padding-left: 5%;
   border: 1px;
   border-color: dimgray;
   background-color: dimgray;
   font-family: 'Courier New', Courier, monospace;
   color: lightgray;
   text-align: left;
   font-size: 1rem;
   border-radius: 500px 12% / 20px 25em 30px 35em;
   /* border-radius: 1px 10%; */
   /* min-width: 120px; */
}

.parent {
   display: flex;
   align-items: flex-start;
   flex-wrap: nowrap;
   height: 215px;
}

.child {
   width: 25%;
}

.favChild {
   width: 50%;
   min-width: 250px;
}

/* @media screen and (max-width: 44em) {
      nav[role="full-horizontal"] {
        ul > li {
          width: 100%;
        }
      }
    }
     */

nav {
   display: flex;
   align-items: flex-start;
   flex-wrap: nowrap;
   height: 20px;
   font-family: Arial, Helvetica, sans-serif;
   z-index: -1;
   background-color: var(--blue);
}

a {
   text-decoration: none;
   color: var(--brown);
}

.ul_container {
   float: left;
   left: .5rem;
   top: -1rem;
   max-width: 7rem;
}

.ul_container ul {
   display: flex;
   align-items: flex-start;
   /* flex-wrap: nowrap; */
   flex-wrap: wrap;
   list-style: none;
   font-size: .6rem;
}

.ul_container li {
   min-width: 4rem;
   padding-top: 1rem;
}

.sub_menu li {
   display: none;
}